/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /* 580px - max width for chat content and smartbar */
  --smartwindow-content-max-width: calc(var(--size-layout-xlarge) + var(--dimension-80));
  --smartwindow-brand-accent: light-dark(var(--color-violet-90), var(--color-violet-20));
  --smartwindow-prompt-button-background-color: light-dark(var(--color-white), var(--color-gray-80));
  --smartwindow-text-color-accent-deemphasized: light-dark(var(--color-violet-60), var(--color-violet-30));
  --smartwindow-border-color-gradient: linear-gradient(117deg, #321bfd -17.87%, #cf30e2 52.93%, #f90 89.02%, #f5c451 109.44%);

  /* Override box-shadow-level-2 with custom colors */
  --box-shadow-color-lighter-layer-1: color-mix(in srgb, var(--color-violet-50) 15%, transparent);
  --box-shadow-color-lighter-layer-2: color-mix(in srgb, var(--color-violet-50) 25%, transparent);
  --smartwindow-shadow: var(--box-shadow-level-2);

  /* stylelint-disable-next-line media-query-no-invalid */
  @media -moz-pref("browser.nova.enabled") {
    /* HCM Default */
    --smartwindow-text-color-accent-primary: var(--text-color);
    --smartwindow-icon-color-accent-primary-desaturated: var(--icon-color);

    @media not (forced-colors) {
      /* Smart Window Nova Tokens */
      --smartwindow-text-color-accent-primary: light-dark(var(--color-violet-60), var(--color-violet-30));
      --smartwindow-icon-color-accent-primary-desaturated: light-dark(var(--color-purple-desaturated-50), var(--color-purple-desaturated-10));

      --box-shadow-color-lighter-layer-1: color-mix(in srgb, var(--color-violet-70) 15%, transparent);
      --box-shadow-color-lighter-layer-2: color-mix(in srgb, var(--color-violet-70) 24%, transparent);
    }
  }
}
