/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/******************************************************************************/
/* General */

html,
body,
#content {
  height: 100%;
}

body {
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
  padding: 0;
  margin: 0;
}

pre {
  background-color: white;
  border: none;
  font-family: var(--monospace-font-family);
}

#content {
  display: flow-root;
}

#json {
  margin: 8px;
  white-space: pre-wrap;
}

/******************************************************************************/
/* Dark Theme */

body.theme-dark {
  color: var(--theme-body-color);
  background-color: var(--theme-body-background);
}

.theme-dark pre {
  background-color: var(--theme-body-background);
}

/******************************************************************************/
/* Profiler Icon Button */

.profiler-icon-button {
  appearance: none;
  border: none;
  border-inline-start: 1px solid var(--theme-splitter-color);
  padding: 0;
  margin: 0;
  margin-inline-start: auto;
  width: 32px;
  height: 100%;
  background-color: var(--theme-tab-toolbar-background);
  background-image: url("chrome://devtools/skin/images/tool-profiler.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  -moz-context-properties: fill;
  fill: var(--theme-icon-color);
  outline-offset: -2px;
}

.profiler-icon-button:not(:disabled):hover {
  background-color: var(--theme-toolbar-hover);
  fill: var(--theme-icon-hover-color);
}

.profiler-icon-button:not(:disabled):hover:active {
  background-color: var(--theme-toolbar-hover-active);
}

.profiler-icon-button:disabled {
  fill: var(--theme-icon-disabled-color);
}
