<!doctype html>
<meta charset="utf-8">
<title>Test InspectorUtils::getGridContainerType</title>
<script src="/tests/SimpleTest/SimpleTest.js"></script>
<link rel="stylesheet" href="/tests/SimpleTest/test.css"/>

<div id="not-grid"></div>
<div id="grid" style="display: grid">
  <div id="not-grid-item"></div>
  <div id="not-subgrid" style="display: grid"></div>
  <div id="row-subgrid" style="display: grid; grid-template-rows: subgrid;"></div>
  <div id="col-subgrid" style="display: grid; grid-template-columns: subgrid;"></div>
  <div id="both-subgrid" style="display: grid; grid-template-rows: subgrid; grid-template-columns: subgrid;"></div>
</div>
<script>
const InspectorUtils = SpecialPowers.InspectorUtils;

const kExpected = {
  "not-grid": InspectorUtils.GRID_NONE,
  "not-grid-item": InspectorUtils.GRID_NONE,
  "grid": InspectorUtils.GRID_CONTAINER,
  "not-subgrid": InspectorUtils.GRID_CONTAINER,
  "row-subgrid": InspectorUtils.GRID_CONTAINER | InspectorUtils.GRID_SUBGRID_ROW,
  "col-subgrid": InspectorUtils.GRID_CONTAINER | InspectorUtils.GRID_SUBGRID_COL,
  "both-subgrid": InspectorUtils.GRID_CONTAINER | InspectorUtils.GRID_SUBGRID_COL | InspectorUtils.GRID_SUBGRID_ROW,
};

add_task(function() {
  for (let id in kExpected) {
    let element = document.getElementById(id);
    is(InspectorUtils.getGridContainerType(element), kExpected[id], id);
  }
});
</script>
