/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.login-doorhanger-field {
  margin-block-start: var(--space-large);

  /**
   * There's already a margin-block-start of 8px on popupnotificationcontent,
   * so the first label only needs 8px of margin-block-start to match the
   * spec.
   */
  &:first-child {
    margin-block-start: var(--space-small);
  }
}

.autocomplete-container {
  position: relative;

  &.has-dropmarker #input {
    --input-padding-from-arrow-side: calc(2 * var(--space-small) + var(--icon-size)); /* spacing on either side + arrow element width */
    padding-inline-end: var(--input-padding-from-arrow-side);
    text-overflow: ellipsis;

    /* Avoid overlapping the text on the arrow icon when switching input text direction */
    &:-moz-locale-dir(rtl):dir(ltr) {
      padding-inline-end: var(--space-medium);
      padding-left: var(--input-padding-from-arrow-side);
    }

    &:-moz-locale-dir(ltr):dir(rtl) {
      padding-inline-end: var(--space-medium);
      padding-right: var(--input-padding-from-arrow-side);
    }
  }
}

.ac-dropmarker {
  position: absolute;
  inset-inline-end: var(--space-small);
  top: 50%;
  translate: 0 -50%;
  content: url(chrome://global/skin/icons/arrow-down-12.svg);
  -moz-context-properties: fill;
  fill: var(--icon-color);
}
