/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Ctrl-Tab */

#ctrlTab-panel {
  appearance: none;
  --panel-background: hsla(0, 0%, 40%, 0.85);
  --panel-color: white;
  --panel-border-color: transparent;
  --panel-padding: 20px 10px 10px;
  -moz-window-shadow: none;
  @media not (-moz-platform: macos) {
    font-weight: var(--font-weight-bold);
  }
}

.ctrlTab-preview,
#ctrlTab-showAll {
  appearance: none;
  color: inherit;
  /* remove the :-moz-focusring outline from button.css on Windows */
  outline: none !important;
  margin: 0;
  text-shadow:
    0 0 1px hsl(0, 0%, 12%),
    0 0 2px hsl(0, 0%, 12%);
  border: none;
  background-color: transparent;
}

.ctrlTab-preview > .button-box {
  display: none;
}

.ctrlTab-favicon-container {
  position: relative;
  justify-content: flex-end;
}

.ctrlTab-favicon[src] {
  width: 42px;
  height: 42px;
  margin-top: -44px;
  margin-bottom: 2px;
  margin-inline-end: -6px;
  padding: 5px;
  background-color: #f9f9fa;
  border-radius: var(--border-radius-small);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.ctrlTab-canvas {
  color-scheme: light;
  background-color: Canvas;
  color: CanvasText;
  box-shadow: 1px 1px 2px hsl(0, 0%, 12%);
  margin-bottom: 8px;
  min-width: 0;

  @media (-moz-content-prefers-color-scheme: dark) {
    /* Make the blank canvas match the default content background. */
    color-scheme: dark;
  }

  > img,
  > canvas {
    min-width: 0;
  }
}

.ctrlTab-placeholder {
  visibility: hidden;
}

.ctrlTab-preview-inner,
#ctrlTab-showAll {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 0.5em;
}

.ctrlTab-preview-inner {
  margin-top: -10px;
  min-width: 0;
}

#ctrlTab-showAll {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  background-color: var(--color-white-alpha-20);
  margin-top: 0.5em;
}

.ctrlTab-preview:focus > .ctrlTab-preview-inner,
#ctrlTab-showAll:focus {
  /* stylelint-disable-next-line stylelint-plugin-mozilla/use-design-tokens */
  background-color: var(--color-black-alpha-70);
  text-shadow: none;
  border-color: #45a1ff;
}

.ctrlTab-label {
  flex: 1;
  justify-content: center;
  contain: inline-size;
}
