<style>
* {
  height: 0.5511em;
  top: 1vmin;
  background: url(data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=) repeat-x scroll top left;
}
:root {
  transform: scale(0.1693);
  visibility: collapse;
}
</style>
<script>
function go() {
  b.options.add(c)
  a.appendChild(d)
  setTimeout(() => {
    b.multiple = false
  })
}
</script>
<body onload=go()>
<font id="a">
<option id="c" dir="auto">14][1#NZlJpW2CPQ06+</option>
<select id="b" multiple="multiple">
<option style="translate: 0px 0px"></option>
</select>
<audio id="d" controls="controls"></audio>
