<!DOCTYPE html>
<style>
u{
  display: table-caption;
  text-combine-upright: all;
}
ol{
  writing-mode: vertical-lr;
}
</style>
<div>
<u style="text-combine-upright: all; text-decoration-inset: 4px;" lang="ja-Kana">
<ol>
<span>a-</span>
</ol>
</u>
</div>
<div>
<u style="text-combine-upright: all;" lang="ja-Kana">
<ol>
<span>a-</span>
</ol>
</u>
</div>
<div>
<u style="text-decoration-inset: 4px;" lang="ja-Kana">
<ol>
<span style="text-combine-upright: all;">a-</span>
</ol>
</u>
</div>
<div>
<u lang="ja-Kana">
<ol>
<span style="text-combine-upright: all;">a-</span>
</ol>
</u>
</div>
