/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.untrusted-link-label {
  text-decoration: underline dashed;
}

.message-assistant {
  a {
    --smartwindow-assistant-link-color: light-dark(var(--color-violet-50), var(--color-violet-20));
    --smartwindow-assistant-link-color-hover: light-dark(var(--color-violet-90), var(--color-violet-50));
    --smartwindow-assistant-link-color-visited: light-dark(var(--color-violet-70), var(--color-violet-40));
    --smartwindow-assistant-link-color-active: light-dark(var(--color-violet-90), var(--color-violet-50));
    --smartwindow-assistant-accent-color-focus: light-dark(var(--color-violet-70), var(--color-violet-40));
    color: var(--smartwindow-assistant-link-color);
  }

  a:visited {
    color: var(--smartwindow-assistant-link-color-visited);
  }

  a:hover {
    color: var(--smartwindow-assistant-link-color-hover);
  }

  a:active {
    color: var(--smartwindow-assistant-link-color-active);
  }

  a:focus-visible {
    accent-color: var(--smartwindow-assistant-accent-color-focus);
    outline-style: inset;
  }
}

.message-user p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.message-assistant > :first-child {
  margin-block-start: 0;
}
.message-assistant > :last-child {
  margin-block-end: 0;
}

ai-chat-table {
  --smartwindow-table-title-color: light-dark(var(--color-violet-90), var(--color-violet-10));
  --smartwindow-table-border: var(--border-width) solid
    light-dark(color-mix(in srgb, var(--color-violet-90) 20%, transparent), color-mix(in srgb, var(--color-violet-10) 20%, transparent));

  display: block;
  font-size: var(--font-size-small);
  max-width: 100%;
  width: fit-content;

  & th,
  & td {
    padding: var(--space-small) var(--space-medium);
    text-align: start;
  }

  & thead tr {
    border-block-end: var(--smartwindow-table-border);
  }

  & th {
    color: var(--smartwindow-table-title-color);
    font-weight: var(--font-weight-semibold);
  }

  & tbody tr:not(:last-child) {
    border-block-end: var(--smartwindow-table-border);
  }
}

/* stylelint-disable-next-line media-query-no-invalid */
@media -moz-pref("browser.nova.enabled") {
  .message-assistant {
    a {
      --smartwindow-assistant-link-color-active: light-dark(var(--color-violet-80), var(--color-violet-50));
      --smartwindow-assistant-accent-color-focus: light-dark(var(--color-violet-50), var(--color-violet-20));
    }
  }
}
