.pseudos {
  view-transition-name: custom;
  &::before {
    content: "my_before_text";
  }
  &::after {
    content: "my_after_text";
  }
}

::view-transition-group(root) {
  /* large number so the view-transition pseudo elements are available during the whole test */
  animation-duration: 3600s;
}

dialog::backdrop {
  background-color: rgb(from hotpink r g b / 0.2);
}
