/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

slot[name="internal-select-button"] {
  display: none;
}

/* stylelint-disable-next-line at-rule-no-unknown */
@appearance-base {
  slot[name="internal-select-button"] {
    display: contents;
  }

  slot[name="internal-select-button"]:has-slotted + label {
    display: none;
  }
}
