/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  --box-icon-start-fill: var(--icon-color-information);

  .noUpdatesFound {
    --box-icon-start-fill: var(--icon-color-success);
  }

  .checkingFailed,
  .manualUpdate,
  .internalError {
    --box-icon-start-fill: var(--icon-color-warning);
  }
}

.text-content {
  display: flex;
  gap: var(--space-small);
  align-items: center;
}

.icon {
  width: var(--icon-size);
  height: var(--icon-size);
  -moz-context-properties: fill;
  fill: var(--box-icon-start-fill);
}

moz-button {
  white-space: nowrap;
}
