/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:host {
  --select-border: var(--button-border);
  --select-border-radius: var(--button-border-radius);
  --select-border-color-hover: var(--button-border-color-hover);
  --select-border-color-disabled: var(--button-border-color-disabled);
  --select-background-color: var(--button-background-color);
  --select-background-color-hover: var(--button-background-color-hover);
  --select-background-color-disabled: var(--button-background-color-disabled);
  --select-opacity-disabled: var(--button-opacity-disabled);
  --select-margin-block: var(--input-margin-block-adjust);
  --select-margin-inline: var(--input-margin-inline-start-adjust) var(--space-small);
  --select-min-height: var(--button-min-height);
  --select-font-size: var(--button-font-size);
  --select-font-weight: var(--button-font-weight);
  --select-option-font-weight: var(--font-weight);
  --select-text-color: var(--button-text-color);
  --select-text-color-hover: var(--button-text-color-hover);
  --select-text-color-disabled: var(--button-text-color-disabled);
  --select-option-text-color: var(--text-color);
  --select-icon-fill: var(--button-icon-fill);
}

:host([inputlayout="inline-end"]) {
  --select-margin-block: 0;
  --select-margin-inline: 0;
}

.select-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: var(--select-border);
  border-radius: var(--select-border-radius);
  background-color: var(--select-background-color);
  color: var(--select-text-color);
  margin-block: var(--select-margin-block);
  margin-inline: var(--select-margin-inline);
  min-width: var(--select-min-width);
  max-width: var(--select-max-width);
  -moz-context-properties: fill;
  fill: var(--select-icon-fill);

  &:hover,
  &:has(select:open),
  &:has(+ [open]) {
    border-color: var(--select-border-color-hover);
    background-color: var(--select-background-color-hover);
    color: var(--select-text-color-hover);
  }

  &:has(> :disabled) {
    border-color: var(--select-border-color-disabled);
    background-color: var(--select-background-color-disabled);
    color: var(--select-text-color-disabled);
    opacity: var(--select-opacity-disabled);
  }

  &:has(:focus-visible) {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}

.panel-trigger {
  display: flex;
  align-items: center;
  outline: none;
  font-family: inherit;
}

panel-item[icon]::part(button) {
  background-image: var(--select-item-icon-url);
}

panel-item[selected] {
  background-color: var(--button-background-color-selected);
  border-color: var(--button-border-color-selected);
  color: var(--button-text-color-selected);
}

select,
.panel-trigger {
  border-radius: var(--select-border-radius);
  padding-inline: var(--space-large) var(--space-xxlarge);
  min-height: var(--select-min-height);
  width: 100%;
  font-size: var(--select-font-size);
  font-weight: var(--select-font-weight);
  background-color: transparent;
  color: inherit;
  appearance: none;
  border: none;
}

select {
  border: none;
  padding-block: var(--space-xsmall);
  margin: 0;

  &:focus-visible {
    outline: none;
    outline-offset: unset;
  }

  & option {
    font-weight: var(--select-option-font-weight);
    color: var(--select-option-text-color);

    &:disabled {
      color: var(--text-color-disabled);
    }
  }
}

.select-option-icon,
.select-chevron-icon {
  position: absolute;
  width: var(--icon-size);
  height: var(--icon-size);
  pointer-events: none;
}

.select-option-icon {
  inset-inline-start: var(--space-large);
  opacity: 0;
  transform: scale(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  @media (prefers-reduced-motion) {
    transition: unset;
  }
}

.select-chevron-icon {
  inset-inline-end: var(--space-medium);
}

.with-icon .panel-trigger {
  padding-inline-start: calc(var(--space-large) + var(--icon-size) + var(--space-small));
}

.with-icon:has(.panel-trigger) .select-option-icon {
  opacity: 1;
  transform: scale(1);
}
