<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <style>
      #a {
        position: sticky;
        clip-path: polygon(93% 0%, 0.46em 0%, 9px 18446744073709551615px, 0em 35%);
      }
      #b {
        position: sticky;
        clip-path: polygon(93% 0%, 0.46em 0%, 9px 18446744073709551615px, 0em 35%);
      }
      #c {
        position: sticky;
      }
    </style>
  </head>
  <body>
    <time id="a">
      <time id="b">
        <img id="c" srcset="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAIAAABt+uBvAAAAAXNSR0IArs4c6QAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wDGhYvCNVA1EIAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAjklEQVR42u3QIQEAMAgAsHNNVspTgARY1BZh0ZWP3VcgSJAgQYIECRKEIEGCBAkSJEgQggQJEiRIkCBBCBIkSJAgQYIECUKQIEGCBAkSJAhBggQJEiRIkCAECRIkSJAgQYIEIUiQIEGCBAkShCBBggQJEiRIEIIECRIkSJAgQYIQJEiQIEGCBAlCkCBBdwaeugIthHvZ+AAAAABJRU5ErkJggg== 1x" align="right">
      </time>
    </time>
  </body>
</html>
