<!DOCTYPE html>
<html class="reftest-wait">
<style>
  textarea {
    min-height: 100px;
  }
</style>
<script>
function runTest() {
  let div = document.querySelector('div');
  let iframe = document.querySelector('iframe');
  let doc = iframe.contentDocument;
  let e = doc.createElement('textarea');
  doc.body.appendChild(e);
  setTimeout(function() {
    var cs = getComputedStyle(e);
    cs.minHeight;
    div.style.display = 'none';
    setTimeout(function() {
      div.style.display = 'block';
      setTimeout(function() {
        cs.minHeight;
        document.documentElement.className = "";
      }, 0);
    }, 0);
  }, 0);
}
</script>
<div>
  <iframe src="about:blank" onload="runTest();"></iframe>
</div>
