<!DOCTYPE html>
<html class="reftest-wait">
<style>
  textarea {
    min-height: 100px;
  }
</style>
<script>
function runTest() {
  let div = document.querySelector('div');
  let iframe = document.querySelector('iframe');
  let doc = iframe.contentDocument;
  let e = doc.createElement('textarea');
  doc.body.appendChild(e);
  setTimeout(function() {
    getComputedStyle(e).minHeight;
    div.style.display = 'none';
    setTimeout(function() {
      getComputedStyle(e).minHeight;
      document.documentElement.className = "";
    }, 0);
  }, 0);
}
</script>
<div>
  <iframe src="about:blank" onload="runTest();"></iframe>
</div>
