/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

richlistitem[appHandlerIcon] .actionIcon,
richlistitem[appHandlerIcon] .actionsMenu::part(icon) {
  content: var(--app-handler-icon);
}

menuitem[appHandlerIcon] {
  --menuitem-icon: var(--app-handler-icon);
}

:is(richlistitem, menuitem)[appHandlerIcon="handleInternally"] {
  --app-handler-icon: url("chrome://branding/content/icon32.png");
}

:is(richlistitem, menuitem)[appHandlerIcon="ask"] {
  --app-handler-icon: url("chrome://browser/skin/preferences/alwaysAsk.png");
}

:is(richlistitem, menuitem)[appHandlerIcon="save"] {
  @media not (-moz-platform: linux) {
    --app-handler-icon: url("chrome://browser/skin/preferences/saveFile.png");
  }
  /* prettier-ignore */
  @media (-moz-platform: linux) {
    --app-handler-icon: image-set(
      "moz-icon://stock/document-save?size=16" 1x,
      "moz-icon://stock/document-save?size=16&scale=2" 2x
    );
  }
}

@media (-moz-platform: macos) {
  /* Repeat what menu.css does for .menuitem-iconic */
  menuitem[appHandlerIcon] {
    padding-top: 1px;
    padding-bottom: 3px;
  }
}

#appList {
  min-height: 212px;
}

#appList > richlistitem {
  align-items: center;
}

#appList > richlistitem > image {
  margin: 5px;
  width: 32px;
  height: 32px;
}

#appList > richlistitem > label {
  margin: 0;
  padding: 5px;
  white-space: nowrap;
}
