<!doctype html>
<meta charset="utf-8">
<title>Underline thickness upward rounding test (0.1px should equal 1 device px)</title>
<style>
  html, body { margin: 0; background: white; }
  .test {
    font: 40px/1 sans-serif;
    color: black;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: black;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 0.1px;
  }
  .pad { height: 40px; }
</style>
<div class="pad"></div>
<div class="test">TEST TEST TEST</div>
